<!--Header part-->
<%- include ('partials/header.ejs')%>
<!--Main nav part-->
<%- include ('partials/main_nav.ejs')%>
    <!--Main Content-->
    <main class="container">
        <%- include ('partials/content.ejs')%>
    </main>
<!--bottom nav part-->
<%- include ('partials/bottom_nav.ejs')%>
<!--Footer part-->
<%- include ('partials/footer.ejs')%>